$version: "1.0.0";
$lkw-black: #1B2025;
$lkw-blue: #006eff;
$lkw-green: #658455;
$lkw-orange: #BC914D;
$lkw-red: #B06464;
$lkw-dark-gray: #909399;
$lkw-gray: #ddd;
$lkw-light-gray: #ebeef5;
$lkw-white: #fff;